<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="libs/scrollReveal/scrollreveal.min.js"></script>

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    />
    <link rel="stylesheet" href="libs/glide/glide.core.min.css" />
    <link rel="stylesheet" href="libs/glide/glide.theme.min.css" />
    <link rel="stylesheet" href="style.css" />

    <title>峰华科技 - 创新型网络技术企业</title>
  </head>
  <body>
    <!-- 轮播插件 -->
    <script src="libs/glide/glide.min.js"></script>
    <!-- 案例筛选组件  -->
    <script src="libs/isotope/isotope.pkgd.min.js"></script>
    <!-- 动画组件 -->
    <script src="libs/anime/anime.min.js"></script>
    <!-- 流畅滑动组件 -->
    <script src="libs/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- 自定义JS文件 -->
    <script src="index.js"></script>
  </body>
</html>
