*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow-x: hidden;
}

:root {
  --text-color-lightest: rgba(22, 24, 35, 0.5);
  --text-color-grey: #808080;
  --text-color-darker: #131313;
  --text-color-primary: #ff5770;
  --text-color-secondary: #40a9ff;
  --text-color-dark-1: rgba(16, 18, 23, 0.75);
}

/* 文字选中后颜色 */
::selection {
  color: var(--text-color-darker);
  background: rgb(165, 205, 254);
}
::-moz-selection {
  color: var(--text-color-darker);
  background: rgb(165, 205, 254);
}

/* 图片默认宽度100% */
img {
  max-width: 100%;
}

/* a标签样式 */
a {
  text-decoration: none;
}
/* li的样式 */
ul {
  list-style-type: none;
}

.logo img {
  height: 4rem;
}
header {
  height: 8rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.03);
  background: #fff;
}
/* 链接颜色 */
header a,
header .icon,
header span {
  color: var(--text-color-grey);
}
header a.active {
  color: var(--text-color-darker);
}
.header-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-container .navbar {
  flex: 1;
  display: flex;
}

.header-container nav ul {
  display: flex;
}
.header-container nav ul li {
  margin: 0 24px;
}
.header-container .right {
  margin-left: auto;
}

.header-container .right .login {
  position: relative;
  margin-left: 10px;
}
.header-container .right .login::before {
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  position: absolute;
  display: inline-block;
  content: "";
  height: 16px;
  width: 2px;
  background: var(--text-color-grey);
}

/* 折叠按钮 */
.burger {
  display: none;
}
.burger span {
  font-size: 18px;
  transition: 0.65s;
}
.burger:hover span {
  color: var(--text-color-primary);
}

main {
  padding-top: 80px;
}
/* banner 部分 */
.banner {
  height: 400px;
  position: relative;
  z-index: -1;
}
.banner .caption {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* .banner img {
  height: 100%;
} */
.banner .caption h1 {
  font-size: 4.8rem;
  font-weight: normal;
}
.banner .caption p {
  font-weight: 300;
  margin-top: 2rem;
  line-height: 1.5;
  font-size: 1.8rem;
  color: var(--text-color-lightest);
}
.banner .caption .links {
  margin-top: 1.5rem;
  color: var(--text-color-lightest);
}
.banner .caption .links span + span {
  margin-left: 1rem;
}
.banner .caption .links img {
  vertical-align: middle;
  margin-right: 1rem;
}

/* board */
.boards {
  margin-top: -50px;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-column-gap: 1.5rem;
}
.boards .board {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
  background: #fff;
}
.boards .board:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
.boards .board .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0 1.2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.boards .board .title .left {
  font-size: 2.2rem;
}
.boards .board .title .right {
  display: flex;
  align-items: center;
}
.board .content {
  padding-top: 1rem;

  font-size: 1.4rem;
}
.board ul {
  counter-reset: section;
  list-style-type: none;
}
.board ul li::before {
  counter-increment: section;
  content: counter(section) ".";
  margin-right: 5px;
}
.board ul li:nth-child(5n + 1)::before {
  color: #db5336;
}
.board ul li:nth-child(5n + 2)::before {
  color: #dd713e;
}
.board ul li:nth-child(5n + 3)::before {
  color: #edb013;
}
.board ul li:nth-child(5n + 4)::before {
  color: rgba(22, 24, 35, 0.4);
}
.board ul li:nth-child(5n)::before {
  color: rgba(22, 24, 35, 0.4);
}

.board ul li {
  /* margin-left: 1.5rem; */
  padding: 8px 0;
  display: flex;
  align-items: flex-start;
}
.board ul li a {
  flex: 1;
}

.board a,
.board .icon,
.board .num {
  color: var(--text-color-dark-1);
}

/* more 
 */
.more {
  margin-top: 6rem;
  text-align: center;
}
.more-btn {
  color: var(--text-color-lightest);
  font-size: 1.6rem;
  margin: 0 auto;
  height: 4.8rem;
  line-height: 4.8rem;
  width: 30rem;
  background: #fafafa;
  border-radius: 3rem;
}

/* 服务 */
.services {
  margin-top: 6rem;
  padding: 0 4rem;
}
.services h1 {
  font-size: 4.2rem;
  text-align: center;
}
.service-list {
  margin-top: 3rem;
}
.service-list .service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 1rem;
  padding: 3rem 0;
}
.service-list .service .content h2 {
  font-size: 3.2rem;
}
.service-list .service .content p {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--text-color-dark-1);
}
.service-list .service .content a {
  display: block;
  margin-top: 2rem;
  font-size: 1.6rem;
  color: var(--text-color-primary);
}

footer {
  font-weight: 340;
  padding: 3rem 0;
  text-align: center;
  background: #171725;
  line-height: 1.5;
  font-size: 1.4rem;
}
footer p {
  color: #f9f9f9;
}
footer p:first-child {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1020px) {
  .header-container .right .login::before {
    width: 1px;
  }
  .header-container a {
    color: var(--text-color-lightest);
    transition: 0.65s;
  }
  .header-container li:hover a {
    color: var(--text-color-secondary);
  }
  .header-container {
    font-weight: normal;
  }
  .burger {
    display: block;
    margin-left: auto;
  }

  .header-container.open .navbar {
    right: 30px;
  }
  .header-container .navbar {
    position: absolute;
    top: 55px;
    right: -400px;
    flex-direction: column;
    width: 320px;
    padding: 15px;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    transition: 0.65s;
    z-index: 999;
  }

  .header-container .navbar::before {
    content: "";
    position: absolute;
    top: -12px;
    right: 3px;
    border: 6px solid transparent;
    border-bottom: 6px solid #f9f9f9;
  }
  .header-container .right {
    order: -1;
    margin-left: 0;
    font-size: 1.4rem;
    padding: 1rem 0;
  }
  .header-container nav {
    font-size: 1.4rem;
  }
  .header-container .navbar nav ul li {
    margin: 10px 0;
  }

  .header-container .navbar nav ul {
    flex-direction: column;
  }

  /* boards  */
  .boards {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .banner .caption h1 {
    font-size: 3.6rem;
  }
  .banner .caption p {
    font-size: 1.6rem;
  }
  .services h1 {
    font-size: 3.6rem;
  }
  .service-list .service .content h2 {
    font-size: 2.6rem;
  }
  .service-list .service .content p {
    font-size: 1.8rem;
  }
  .service-list .service .content a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  /* banner  */
  .banner .caption {
    width: 80%;
  }
  /* boards  */
  .boards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1.5rem;
  }

  .banner .caption h1 {
    font-size: 3rem;
  }
  .banner .caption p {
    font-size: 1.4rem;
  }
  .services h1 {
    font-size: 3.2rem;
  }
  .service-list .service .content h2 {
    font-size: 2.4rem;
  }
  .service-list .service .content p {
    font-size: 1.6rem;
  }
  .service-list .service .content a {
    font-size: 1.4rem;
  }
  footer {
    line-height: 1.3;
    font-size: 1.3rem;
  }
}
